.slick--home-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .slick-item {
    height: 696px;
    background-position: center;
    background-size: cover;
  }
  .slick-dots {
    bottom: 25px;
  }
}