.page--panel {
  background-color: gray('200');
  background-image: url('/img/media/maze.png');
  background-size: 2400px 2400px;
  background-position: center;

  .section {
    @include media-breakpoint-down('sm') {
      padding: 0;
    }
  }
  .container {
    @include media-breakpoint-down('md') {
      padding: 0;
      margin: 0;
      max-width: 100%;
    }
  }
  .panel {
    @include media-breakpoint-down('sm') {
      margin-bottom: 0;
      box-shadow: none;
    }
  }

  .step-horizontal {
    .multi-step {
      .progtrckr {
        @include media-breakpoint-up('md') {
          margin-bottom: 64px;
        }
      }
    }
  }
}
